/* gridlover */

body,
.article {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: auto;
}

h1,
.h1 {
  font-size: 2.3888889rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

h2,
.h2 {
  font-size: 1.7777778rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3,
.h3 {
  font-size: 1.3333333rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}

@media screen and (min-width: 48em) {
  h1,
  .h1 {
    font-size: 2.8333333rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h3,
  .h3 {
    font-size: 1.3888889rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  h4,
  .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 64em) {
  h1,
  .h1 {
    font-size: 4.2222222rem;
    line-height: 4.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  h2,
  .h2 {
    font-size: 2.6111111rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h3,
  .h3 {
    font-size: 1.6111111rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  h4,
  .h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }

  h5,
  .h5 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0rem;
  }
}

i {
  font-size: 1rem;
}

p,
pre,
pre[class*="language-"],
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.5rem;
}

li,
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
  height: 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: inherit;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

a {
  text-decoration: none;
}
